/* Fonts for the website */
@font-face {
	font-family: "Gill Alt One MT";
	src: url("fonts/gla.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gill Alt One MT";
	src: url("fonts/glab.ttf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Gill Alt One MT";
	src: url("fonts/glai.ttf");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Gill Alt One MT";
	src: url("fonts/glabi.ttf");
	font-weight: bold;
	font-style: italic;
}

/* General styling */
/* ARM blue rgb(0, 120, 156) */
body {
	background-color: rgb(255, 255, 255); font-family: 'Gill Alt One MT', 'Gill Sans', 'Segoe UI', sans-serif; line-height: 1em; font-weight: normal; }
.nonDraggableImage { -webkit-user-drag: none; }

/* Header styling */
.logo, .index-header, .content, .footer { background-color: white; color: rgb(77,77,77); text-align: center; }
.aup-logo { background: url(../images/ARM_University_horizontal_blue_LG.png) no-repeat 0px 0px; background-size: 650px 147px; width: 650px; height: 147px; margin: 30px auto; }
/*.edkit { background-color: rgb(0, 120, 156); }*/
.edkit { color: rgb(0, 120, 156); }
.edkit p { font-weight: 200; margin: 10px auto ;}
.lib-name { font-size: 1.3em; }
.lib-type { font-size: 1.75em; font-style: italic; }

th { background: rgba(18, 140, 171, 1); color: white; }

.row { margin: 0px auto 20px auto; }
.no-margin { margin: 0 auto; }

.vertical-divider-grey { height: 2px; width: inherit; background-color: rgb(247, 247, 247); }
.vertical-divider-blue { height: 2px; width: inherit; background-color: rgb(0, 159, 193); }
.content .columns { padding: 0; }

a:link { color: rgba(85, 90, 90, 1); text-decoration: none; }
a:visited { color: rgba(85, 90, 90, 1); }
a:hover { cursor: hand; color: rgba(0, 196, 115, 1); }
a:active { color: rgba(69, 69, 69, 1); }

/* Footer styling */
.footer { background-color: rgb(65, 68, 68); color: white; margin-bottom: 0px;}
.contact-container div a .contact { width: 75px; height: 75px; margin: 30px auto 50px auto; }
.contact-container div a .contact div { background-size: 75px 75px; width: inherit; height: inherit; }
.contact-container div a .contact p { display:none; }

.contact-newsletter { background: url(../images/contact_1.png) no-repeat 0px 0px; }
.contact-facebook { background: url(../images/contact_2.png) no-repeat 0px 0px; }
.contact-email { background: url(../images/contact_3.png) no-repeat 0px 0px; }
.contact-podcast { background: url(../images/contact_7.png) no-repeat 0px 0px; } 
.contact-twitter { background: url(../images/contact_5.png) no-repeat 0px 0px; } 
.contact-youtube { background: url(../images/contact_6.png) no-repeat 0px 0px; }

.end-note { position: relative; }
.footer-logo { background: url(../images/Arm_logo_blue_150MN.png) no-repeat left bottom; height: 24px; width: 80px; margin: 1em; }
.copyright { font-size: 0.85em; margin: 1em 1em 10px 0; text-align: right; position: absolute; bottom: 0; right: 0; }
.multiline { display: none; }

/* Medium screen styling */
@media screen and (min-width: 640px) and (max-width: 1024px) {
	.aup-logo { background: url(../images/ARM_University_horizontal_blue_LG.png) no-repeat 0px 0px; background-size: 480px 109px; width: 480px; height: 109px; margin: 30px auto; }
    .edkit, .content { padding: 0 30px; }
    .lib-type { font-size: 1.1em; }
	.lib-name { font-size: 1em; }
	.thumb-control { display: none; }
	/*
	.nav-text.text-left, .nav-text.text-right { display: none; }
    */
    .contact-container div a .contact { width: 75px; height: 75px; margin: 10px auto; }
	.contact-container div a .contact div { background-size: 75px 75px; width: inherit; height: inherit; }
    .container-newsletter { background-color: rgb(0, 169, 96);}
	.container-facebook { background-color: rgb(52, 109, 166);}
	.container-email { background-color: rgb(215, 123, 0);}
	.container-podcast { background-color: rgb(126, 78, 163);} 
	.container-twitter { background-color: rgb(65, 134, 205);}
	.container-youtube { background-color: rgb(202, 70, 56);}
    .footer div { padding: 0; }
    .copyright { font-size: .75em; }
}

/* Small screen styling */
@media screen and (max-width: 640px) {
	.aup-logo { background: url(../images/ARM_University_horizontal_blue_LG.png) no-repeat 0px 0px; background-size: 300px 68px; width: 300px; height: 68px; margin: 30px auto; }
    .edkit, .content { padding: 0 20px; }
    .lib-type { font-size: 1em; }
	.lib-name { font-size: .95em; }
	.thumb-control { display: none; }
	/*
	.nav-text.text-left, .nav-text.text-right { display: none; }
	*/
	.slide .container { margin-bottom: -20px; }
	.slide-control { display: none; }
    .contact-container div a .contact { width: 75px; height: 75px; margin: 10px auto; }
	.contact-container div a .contact div { background-size: 75px 75px; width: inherit; height: inherit; }
	.container-newsletter { background-color: rgb(0, 169, 96);}
	.container-facebook { background-color: rgb(52, 109, 166);}
	.container-email { background-color: rgb(215, 123, 0);}
	.container-podcast { background-color: rgb(126, 78, 163);} 
	.container-twitter { background-color: rgb(65, 134, 205);}
	.container-youtube { background-color: rgb(202, 70, 56);}
    .footer div { padding: 0; }
    .copyright { font-size: 0.65em; }
    .multiline { display: inline; }
}